header {
  background-color: black;
}

header img {
  width: 200px;
  padding: 30px;
}

body {
  background-color: black;
  margin-bottom: 100px;
}

p {
  color: white;
  font-size: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 30px 0 0 30px;
}

.container {
  display: flex;
  flex-direction: column;
}

.images {
  margin-top: 20px;
  display: flex;
  overflow: scroll;
  padding-left: 30px;
}

main img {
  width: 300px;
  height: 168.91px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.images::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.images {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
